$loading-md-box-shadow: none !important;   
$refresher-text-color : #000 !important;    
$refresher-icon-color : #000 !important;
ion-content{
    background-color: #ffffff !important;
    ion-label, ion-input, ion-datetime, ion-toggle, ion-textarea, ion-select{
        color: #000!important;
    }
    ion-item{
        padding-left: 16px!important;
        padding-right: 16px!important;
        box-shadow: none!important;
        background-color:transparent!important;
        border:none!important;
        color:#fff!important;
    }
    
}
.toolbar-background{
    background-color: #1976d2 !important;
    color:#fff!important;
}
.toolbar-title-md,.bar-button-default-md{
    color:#fff!important;
}
.btn-default{
    background-color: #1976d2!important;
    display: block;
    width:88%;
    height:40px!important;
    margin:10px auto 10px!important;
}


ion-icon {
    font-size: 20px !important; 
}

