<ion-card>
  <ion-card-header>
    <ion-grid no-padding>
      <ion-row>
        <ion-col col-11>
          Cód. Sinistro : {{ClaimCode}}
        </ion-col>
        <ion-col col-1 (tap)='deleteClaim()'>
          <ion-icon name="trash"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          Ins.Date  {{InsuredSubmitDate}}
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-header>
  <ion-card-content>
    <!-- Add card content here! -->
  </ion-card-content>
</ion-card>