<ion-header>
    <ion-navbar>
      <ion-title>
        Adicionar/Editar Timesheet
      </ion-title>
      <ion-buttons end>
          <button ion-button (click)="dismiss()"> Fechar </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>


  <ion-content>
    <ion-item>
      <ion-label stacked> Incidência </ion-label>
      <ion-select [(ngModel)]="claimTimeSheet.IncidenceUniqueId" (ionChange)="getIncidenceTypesByIncidenceUniqueId()">
        <ion-option *ngFor="let incidence of incidences" [value]="incidence.UniqueId"> {{ incidence.Name }} </ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label stacked> Tipo de Incidência </ion-label>
      <ion-select [(ngModel)]="claimTimeSheet.IncidenceTypeUniqueId" >
        <ion-option *ngFor="let incidenceType of incidenceTypes" [value]="incidenceType.UniqueId"> {{ incidenceType.Name }} </ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label stacked>Data Inicial</ion-label>
      <ion-datetime 
        displayFormat="DD/MM/YYYY HH:mm" 
        [(ngModel)]="claimTimeSheet.StartDate"
        (ionChange)="calculateTime()"
        doneText="Ok"
        cancelText="Cancelar">
      </ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label stacked>Data Final</ion-label>
      <ion-datetime 
        displayFormat="DD/MM/YYYY HH:mm" 
        [(ngModel)]="claimTimeSheet.EndDate"
        (ionChange)="calculateTime()"
        doneText="Ok"
        cancelText="Cancelar">
      </ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label stacked>Duração(Min)</ion-label>
      <ion-input type="number" [(ngModel)]=claimTimeSheet.TimeSpentMinute disabled="true"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Total Lançado (hh:mm)</ion-label>
      <ion-input type="text" [(ngModel)]=claimTimeSheet.TimeSpentHourMinute disabled="true"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked> Moeda </ion-label>
      <ion-select [(ngModel)]="claimTimeSheet.CurrencyId">
        <ion-option *ngFor="let currency of currencies" [value]="currency.Id"> {{ currency.Name }} </ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label stacked> Cobra Cliente? </ion-label>
      <ion-toggle [(ngModel)]="claimTimeSheet.HasCashFlow"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label stacked>Descrição da tarefa</ion-label>
      <ion-textarea 
        [(ngModel)]=claimTimeSheet.Observation
        rows="8     ">
      </ion-textarea>
    </ion-item>
    <button class="btn-default" ion-button> Salvar </button>
  </ion-content>